@tailwind base;
@tailwind components;
@tailwind utilities;

.grid.w-64.grid-cols-7,
.grid.w-64.grid-cols-4 {
  width: 100%;
}

.grid.grid-cols-7.mb-1 {
  display: none;
}

.flex.justify-between.mb-2 button:first-child {
  transform: rotate(90deg);
}

.flex.justify-between.mb-2 button:last-child {
  transform: rotate(-90deg);
}